.navbar {
  background-color: black;
  padding: 15px 20px;
  border-bottom: 2px solid white;
  width: 100%;
}

ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 16px; /* Reduced font size */
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px px;
  transition: color 0.3s, background-color 0.3s;
}

.nav-link:hover,
.active {
  color: yellow;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar .signout-btn {
  margin-left: auto;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.navbar .signout-btn:hover {
  background-color: #cc0000;
}
